@tailwind base;
@tailwind components;
@tailwind utilities;

body, .App {
position: absolute;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
#root {
  position: absolute;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}